@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --cs-gray: #8E8E8E;

}
.textPrimary{
    color: #13CA9E;
}
.wrapper{
    background: url('../images/Group\ 37.png') no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    /* padding: 45px 35px; */
}
.container{
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background: url('../images/justin-eisner-ZOG7Zj7cfR8-unsplash\ 1.png') no-repeat;
    background-size: cover;
}
.leftContainer{
    display: flex;
    flex-direction: column;
}
.logo{
    width: 100%;
    max-width: 300px;
}
.logo img{
    width: 100%;

}
.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading{
    color: #FFFFFF;
    font-size: 55px;
}
.paragraph{
    color: #FFFFFF;
}
.form{
    max-width: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 50px 50px 30px 50px;
}
.formImage{
    width: fit-content;
    max-width: 100px;
}
.formImage img{
    width: 100%;
}
.formHeading{
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
}
.formLabel{
    color: var(--cs-gray);
    font-size: 24px;
    font-weight: 400;
}
.form-control{
    font-size: 24px;
    padding: 20px;
}
.secondaryText{
    text-align: end;
    font-size: 22px;
    color: #242424;
    text-decoration: underline;
}
.loginBtn{
    font-size: 28px;
    font-weight: 400;
    color: #FFFFFF;
    background: linear-gradient(#2CDEB4, #19C29A, #13CA9E);
}

@media only screen and (max-width: 1336px) {
    .form{
        padding: 30px;
        padding-bottom: 15px;
    }
    .formImage{
        width: 50px;
    }
    .formHeading{
        font-size: 30px;
    }
    .formLabel{
        font-size: 18px;
    }
    .form-control{
        font-size: 18px;
        padding: 12px;
    }
    .secondaryText{
        font-size: 14px;
    }
    .loginBtn{
        font-size: 22px;
    }
}
